:root{
    --aсcent-color-yellow: #FED136;
    --text-color-dark: #222;
    --text-color-gray: #777;
    --text-color-input: #BBBBBB;
}

/* 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif; 
*/

body{
    font-family: 'Montserrat', sans-serif;
}

*{
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-navigation{
    font-weight: 400;
    font-size: 14px;
}

.header-list{
    list-style: none;
}

.header-link{
    color: var(--aсcent-color-yellow);
    text-decoration: none;
    text-transform: uppercase;
}

.header-link:hover{
    color: #c18908;
}

.services-title{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.services-list{
    list-style: none;
}

.services-item img{
    width: 70px;
}

.services-item h4{
    font-size: 18px;
    font-weight: 700;
}

.services-item p{
    font-family: 'Roboto Slab', serif;
    font-size: 14px; 
}
.footer-form-input::placeholder,
.footer-form-textarea::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.footer{
    background-color: var(--text-color-dark);
}

.footer-form-button{
    font-size: 18px;
    font-weight: 700;
    padding: 23px 33px;
    border: 0;
    background-color: var(--aсcent-color-yellow);
    color: #FFF;
    cursor: pointer;
}

.header{
    margin: 44px 0;
}

.services{
    margin-top: 90px;
    margin-bottom: 110px;
}

.services-title{
    margin-bottom: 90px;
}

.footer{
    padding: 92px 0 115px 0;
}

.footer-title{
    color: white;
    text-align: center;
}

.footer-form-input{
    width: 455px;
    height: 50px;
    display: block;
    margin-bottom: 28px;
}

.footer-form-textarea{
    width: 455px;
    height: 212px ;
}