:root{
    --aсcent-color-aqua: #95E1D3;
    --accent-color-orange: #F38181;
    --text-color-dark: #333333;
    --text-color-gray: #B6B6B6;
}

/* 
    font-family: 'Kaushan Script', cursive;
    font-family: 'Montserrat', sans-serif;
*/

*{
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif; 
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

.header-navigation{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.header-list{
    list-style: none;
}

.header-link{
    color: var(--aсcent-color-aqua);
    text-decoration: none;
    text-transform: uppercase;
}

.header-link:hover{
    color: var(--accent-color-orange);
}

.we-work-with-title,
.who-we-are-title{
    color: var(--text-color-dark);
}

.we-work-with-title h3,
.who-we-are-title h3{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
}

.we-work-with-title h2,
.who-we-are-title h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.we-work-with-item{
    font-size: 15px;
}

.we-work-with-item h4{
    text-transform: uppercase;
    color: var(--text-color-dark);
}

.we-work-with-item p,
.who-we-are-title p{
    color: var(--text-color-gray);
}

.who-we-are-title p{
    font-size: 15px;
    line-height: 1.2;
}

.who-we-are-desc h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--text-color-dark);
}

.who-we-are-desc p{
    font-weight: 300;
    font-style: italic;
    color: var(--text-color-gray);
}

.footer-copy{
    font-family: 'Montserrat', sans-serif;
} 

.footer-copy a{
    color:var(--accent-color-orange);
}

.footer-button{
    background-color: var(--aсcent-color-aqua);
    border: 0;
    padding: 12px 38px;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
}

.header{
    padding: 17px 0;
}

.we-work-with-title{
    margin: 68px 0;
    text-align: center;
}
.we-work-with-title_line{
    width: 60px;
    height: 4px;
    background-color: var(--accent-color-orange);
    margin: 40px auto 0 auto;
}

.we-work-with-item{
    margin-bottom: 100px;
}

.we-work-with-list{
    margin-top: 65px;
}

.who-we-are-title,
.who-we-are-desc{
    text-align: center;
}

.who-we-are-title p{
    margin-top: 45px;
}

.who-we-are-list{
    margin-top: 27px;
    margin-bottom: 80px;
}

.who-we-are-item{
    width: 380px;
}

.footer{
    padding: 10px 0;
    border-top: 1px solid var(--text-color-gray);
}

.footer-input{
    width: 230px;
    height: 39px;
    border: 1px solid var(--text-color-gray);
    display: block;
    padding-left: 10px;
}

.footer-input::placeholder{
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}

.header-list{
    display: flex;
}
.header-item:not(:last-child){
    margin-right: 55px;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.we-work-with-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.we-work-with-item{
    width: 330px;
}

.who-we-are-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.who-we-are-item{
    margin: 0;
}

.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-form{
    display: flex;
}
.who-we-are .container{
    display: flex;
    flex-direction: column;
}

.we-work-with-item{
    display: flex;
    align-items: flex-start;
}

.we-work-with-item img{
    margin-right: 19px;
}

.we-work-with-item-text h4{
    margin-top: 0px;
}